::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(145, 145, 145, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(68, 68, 68, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(129, 129, 129, 0.9);
}

* {
  user-select: none;
  -moz-user-focus: ignore;
}

*:focus {
  outline: none;
}

.pp-main_window {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #252525;
}

.pp-main_project_bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #202020;
  box-shadow: 0px 0px 50px 5px rgba(20, 20, 20, 0.25);
  height: 6.75rem;

  .pp-logo {
    width: 3.4375rem;
    height: 3.4375rem;
    flex-shrink: 0;
    fill: #d9d9d9;
    margin-left: 2.38rem;
  }

  .pp-title {
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    margin-bottom: calc(2.19rem - 1.62rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 20.5625rem;
    height: 2.9375rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  .pp-right_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }

  .pp-profile {
    margin-left: auto;
    margin-right: 1.63rem;
    width: 3.25rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 3.25rem;
  }
}

.pp-second_bar {
  border-bottom: 1px solid #505050;
  background: #2e2e2e;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .pp-dropdown {
    margin-left: 1vw;
    select {
      text-indent: 10px;
      margin-left: 2vw;
      width: 11rem;
      height: 2.5rem;
      flex-shrink: 0;
      border-radius: 0.5rem;
      border: 0.5px solid #969696;
      background: #242424;
      color: #969696;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .pp-search_input {
    width: 71vw;
    .pp-input_content {
      margin-left: 2vw;
      width: inherit;
      height: inherit;
      color: #acabab;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 0.5rem;
      border: 0.5px solid #969696;
      background: #333;
      width: 68vw;
      height: 2.5rem;
      flex-shrink: 0;
      text-indent: 15px;
    }
  }

  .pp-button {
    margin-left: 2vw;
    width: 10.75rem;
    height: 2.375rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid #717171;
    background: #232323;
    color: #b4b4b4;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.2s ease-in;
  }

  @media screen and (min-width: 1600px) {
    .pp-button {
      margin-left: 5vw;
    }
  }

  .pp-button:hover {
    border: 2px solid #232323;
    background: #444444;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
}



.pp-modal {
  position: absolute;
  top: 3rem;
  left: 7rem;
  right: 7rem;
  bottom: 3rem;
  border-radius: 2rem;
  border: 2px solid #626262;
  background: #232323;
}

.pp-modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(27, 27, 27, 0.93);
}

.pp-project_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pp-add_project_form {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pp-project_name {
  user-select: none;
  text-align: center;
  border-radius: 32px;
  border: none;
  background: rgba(43, 43, 43, 0.79);
  color: #7b7b7b;
  width: 30%;
  height: 60px;
  font-size: 2.25rem;
  font-weight: 500;
  padding: 0 20px;
}

.pp-line_form {
  width: calc(100% - 25vw);
  margin-top: 3vh;
  background-color: #a9a9a9;
  height: 1px;
  border: 0;
}

.pp-line_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pp-content_form {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: flex-start;
}

.pp-label_desc {
  color: #7b7b7b;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 20px;
}

.pp-project_description {
  margin-top: 10px;
  padding: 15px;
  padding-right: 10px;
  resize: none;
  border-radius: 1rem;
  border: 1px solid #646464;
  background: #1e1e1e;
  color: #545454;
  text-align: start;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 18vh;
}

.pp-fieldset_border {
  border-radius: 1rem;
  border: 1px solid #646464;
}

.pp-add_members_button {
  margin-top: 2vh;
  border-radius: 1rem;
  border: 1px solid #646464;
  background: #0e0e0e;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 1vh 1.69vw;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.pp-add_members_button:hover {
  background: #2e2e2e;
  color: #c2c2c2;
  transition: 0.2s ease-in;
}

.pp-no_added_users {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 3vh;
  color: #c3c3c3;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pp-modal_add_users {
  position: absolute;
  top: 8rem;
  left: 30rem;
  right: 30rem;
  bottom: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #2f2f2f;
  background: #1a1a1a;
}

.pp-modal_overlay_add_users {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(12, 12, 12, 0.67);
}

.pp-modal_users_layout {
  display: flex;
  flex-direction: column;
  margin: 3vh 2vw;
  height: calc(100% - 3vh);

  .pp-modal_users_title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    font-family: Inter;
    font-weight: 500;
    transition: 0.2s ease-in;

    .pp-modal_title_text,
    .pp-modal_users_icon {
      font-size: 3.5vh;
    }

    .pp-modal_users_icon:hover {
      cursor: pointer;
      color: rgb(192, 36, 36);
      transition: 0.2s ease-in;
    }
  }

  .pp-container_validate_users {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;

    .pp-cancel_button {
      padding: 5px 10px;
      border-radius: 0.5rem;
      border: 1px solid #3f3f3f;
      background: #0a0a0a;
      color: #4f4f4f;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-right: 2vw;
      margin-left: -2vw;
      transition: 0.2s ease-in;
    }

    .pp-cancel_button:hover {
      cursor: pointer;
      background: #4f4f4f;
      color: #0a0a0a;
      transition: 0.2s ease-in;
    }

    .pp-add_users_validate {
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 18px;
      border: 1px solid #565656;
      background: #141414;
      color: #c2c2c2;
      font-family: Inter;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .pp-add_users_validate:hover {
      cursor: pointer;
      background: #363636;
      color: #141414;
      transition: 0.2s ease-in;
    }
  }

  .pp-user_layout_line {
    width: 95%;
    margin-top: 2vh;
    border: none;
    border-top: 2px solid #575757;
  }

  .pp-modal_users_add_email {
    color: #898989;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 3vh 0;
  }

  .pp-add_user_email {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .pp-send_email_invites {
      border-radius: 0.5rem;
      border: 1px solid rgba(69, 69, 69, 0.58);
      background: #171717;
      color: #a2a2a2;
      font-family: Inter;
      font-size: 0.9375rem;
      font-weight: 600;
      padding: 0 20px;
      text-wrap: nowrap;
      transition: 0.2s ease-in;
    }

    .pp-send_email_invites:hover {
      border: 1px solid rgba(119, 119, 119, 0.58);
      background: #3b3b3b;
      transition: 0.2s ease-in;
      cursor: pointer;
    }

    .react-tagsinput {
      overflow: hidden;
      border-radius: 8px;
      border: 1px solid #565656;
      padding-left: 10px;
      padding-top: 5px;
      width: 75%;
      height: 40px;
      overflow-x: auto;
      white-space: nowrap;
      display: flex; /* Keep using flex to align tags inline */
      align-items: center;
    }

    .react-tagsinput::-webkit-scrollbar-thumb {
      background-clip: content-box;
    }

    .react-tagsinput--focused {
      border-color: #969696;
    }

    .react-tagsinput-tag {
      display: inline-block;
      border-radius: 0.5rem;
      background: #2e2e2e;
      color: #aeaeae;
      font-family: Inter;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 5px 10px;
      margin: 5px 5px;
      margin-bottom: 10px;
    }

    .react-tagsinput-remove {
      cursor: pointer;
      font-weight: bold;
    }

    .react-tagsinput-tag a::before {
      content: " ×";
    }

    .react-tagsinput-input {
      background: transparent;
      border: 0;
      font-size: 16px;
      margin-left: 5px;
      font-weight: 600;
      margin-bottom: 6px;
      margin-top: 1px;
      outline: none;
      padding: 5px;
      width: 100px;
      color: #fff;
      font-family: Inter;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.pp-user_fetched {
  display: flex;
  align-items: flex-start;
  transition: 0.2s ease-in;
  border-radius: 16px;
  border: 1px solid rgb(32, 32, 32);
  height: 50%;
}
.pp-user_fetched > * {
  margin-top: 10px;
}

.pp-user_fetched:hover {
  border: 1px solid rgba(255, 255, 255, 0.281);
  transition: 0.2s ease-in;
  cursor: pointer;
}

.pp-user_info {
  margin-left: 10px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 0.9375rem;
  font-weight: 400;
}

.pp-user_role_modal {
  color: #555555;
  font-family: Inter;
  font-size: 0.8125rem;
  font-weight: 600;
  text-align: left;
}

.pp-add_icon {
  font-size: 56px;
  margin-left: auto;
  margin-right: 10px;
  color: rgb(153, 153, 153);
}

.pp-added_icon {
  margin-top: 15px;
  font-size: 42px;
  margin-left: auto;
  margin-right: 15px;
  color: rgba(94, 138, 83, 0.589);
}

.pp-user_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  .pp-user_name {
    margin-left: 1vw;
    color: #c3c3c3;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.pp-save_project_create {
  display: flex;
  margin-top: auto;
  justify-content: center;
  margin-bottom: 3vh;

  .pp-project_create_close {
    padding: 1.5vh 3.5vw;
    border-radius: 1rem;
    border: 2px solid #0e0e0e;
    background: #262626;
    color: #626262;
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.2s ease-in;
  }

  .pp-project_create_close:hover {
    background: #626262;
    color: #262626;
    transition: 0.2s ease-in;
    cursor: pointer;
  }

  .pp-project_create_save {
    margin-left: 5vw;
    padding: 1.5vh 3.5vw;
    border-radius: 1rem;
    border: 2px solid #848484;
    background: #3a3a3a;
    box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.25);
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.2s ease-in;
  }

  .pp-project_create_save:hover {
    background: #3a3a3a;
    box-shadow: 0px 0px 24px 0px rgba(170, 170, 170, 0.781);
    color: #fff;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
}

@keyframes border-glow {
  0%,
  100% {
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0);
  }
  10%,
  40% {
    border-top-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  }
  30%,
  60% {
    border-right-color: rgba(255, 255, 255, 0.2);
  }
  50%,
  80% {
    border-bottom-color: rgba(255, 255, 255, 0.2);
  }
  70%,
  90% {
    border-left-color: rgba(255, 255, 255, 0.2);
  }
}
