.App {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.flex-container {
  width: 100vw;
}
.header {
  height: 5vh;
  background-color: #202020;
}

.body {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: #252525;
}
.body-header {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
}
.all-projects-title {
  width: 50vw;
  color: #fff;
  margin-top: 5vh;
  margin-left: 5vw;
  font-size: 4vh;
}
.new-project-button {
  width: 10vw;
  height: 4vh;
  color: #fff;
  background-color: #925dbb;
  text-align: center;
  border-radius: 8px;
  margin-top: 5vh;
  margin-left: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  transition: background-color 0.3s ease;
}
.new-project-button:hover {
  background-color: #d8b6f1; 
  color: white;
}
.body-content {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  border: 4px dotted #484848;
  margin-left: 10vw;
  margin-top: 5vh;
  border-radius: 16px;
}

.content-left {
  width: 30vw;
}
.content-left img {
  margin-left: 10vw;
  margin-top: 2vh;
  max-width: 95%;
  max-height: 95%;
}

.content-right {
  width: 70vw;
  flex: 1;
  padding-top: 7vh;
  color: #fff;
  font-size: 7vh;
  text-align: center;
}

.footer {
  height: 5vh;
  background-color: #252525;
  color: #fff;
  text-align: center;
}
