::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(145, 145, 145, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(68, 68, 68, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(129, 129, 129, 0.9);
}

.a-main_window {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #252525;
}

.a-main_project_bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #202020;
  box-shadow: 0px 0px 50px 5px rgba(20, 20, 20, 0.25);
  height: 6.75rem;

  .a-logo {
    width: 3.4375rem;
    height: 3.4375rem;
    flex-shrink: 0;
    fill: #d9d9d9;
    margin-left: 2.38rem;
  }

  .a-title {
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    margin-bottom: calc(2.19rem - 1.62rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 20.5625rem;
    height: 2.9375rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  .a-profile {
    margin-left: auto;
    margin-right: 1.63rem;
    width: 3.25rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 3.25rem;
    background: url(../public/images/3d-boy.png),
      lightgray 50% / cover no-repeat;
  }
}

.a-second_bar {
  border-bottom: 1px solid #505050;
  background: #2e2e2e;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .a-dropdown {
    select {
      text-indent: 10px;
      margin-left: 2vw;
      width: 11rem;
      height: 2.5rem;
      flex-shrink: 0;
      border-radius: 0.5rem;
      border: 0.5px solid #969696;
      background: #242424;
      color: #969696;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .a-search_input {
    .a-input_content {
      margin-left: 3vw;
      width: inherit;
      height: inherit;
      color: #acabab;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 0.5rem;
      border: 0.5px solid #969696;
      background: #333;
      width: 68vw;
      height: 2.5rem;
      flex-shrink: 0;
      text-indent: 15px;
    }
  }

  .a-button {
    margin-left: 2vw;
    width: 10.75rem;
    height: 2.375rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid #717171;
    background: #232323;
    color: #b4b4b4;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.2s ease-in;
  }

  .a-button:hover {
    border: 2px solid #232323;
    background: #444444;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
}

.a-empty_projects {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .a-svg {
    margin-top: 10vh;
  }

  .a-empty_text {
    width: 40%;
    margin-top: 3rem;
    color: #8d8d8d;
    text-align: center;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.a-main_content {
  width: 100vw;
  overflow-x: hidden !important;

  .a-project_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    gap: 20px;
    margin: 10vh 10vw;

    .a-project_child {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      border-radius: 1rem;
      background: #212121;
      height: 45vh;
      transition: border 0.2s ease-in-out; /* Add transition only for border property */
      border: 2px solid transparent; /* Set initial border color to transparent */

      .a-placeholder_projectIcon {
        border-radius: 0.25rem;
        background: #404040;
        width: 7vw;
        height: 12vh;
        margin-left: 2vw;
        margin-top: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .a-placeholder_text_icon {
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 3rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .a-project_info {
        display: flex;
        flex-direction: column;;
        margin-left: 1vw;
        height: 12vh;
        
        .a-project_title {
          color: #fff;
          font-family: Inter;
          font-size: 2.5rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .a-project_description {
          color: #575757;
          font-family: Inter;
          font-size: 0.9375rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .a-project_child:hover {
      border-color: #505050; /* Change border color on hover */
      cursor: pointer;
    }
  }
}
