.a-main_window {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #252525;
}

.a-main_project_bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #202020;
  box-shadow: 0px 0px 50px 5px rgba(20, 20, 20, 0.25);
  height: 6.75rem;

  .a-logo {
    width: 3.4375rem;
    height: 3.4375rem;
    flex-shrink: 0;
    fill: #d9d9d9;
    margin-left: 2.38rem;
  }

  .a-title {
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    margin-bottom: calc(2.19rem - 1.62rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 20.5625rem;
    height: 2.9375rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  .a-profile {
    margin-left: auto;
    margin-right: 1.63rem;
    width: 3.25rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 3.25rem;
    background: url(../public/images/3d-boy.png),
      lightgray 50% / cover no-repeat;
  }
}

.a-second_bar {
  border-bottom: 1px solid #505050;
  background: #2e2e2e;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .a-dropdown {
    select {
      text-indent: 10px;
      margin-left: 2vw;
      width: 11rem;
      height: 2.5rem;
      flex-shrink: 0;
      border-radius: 0.5rem;
      border: 0.5px solid #969696;
      background: #242424;
      color: #969696;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .a-search_input {
    .a-input_content {
      margin-left: 3vw;
      width: inherit;
      height: inherit;
      color: #acabab;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 0.5rem;
      border: 0.5px solid #969696;
      background: #333;
      width: 68vw;
      height: 2.5rem;
      flex-shrink: 0;
      text-indent: 15px;
    }
  }

  .a-button {
    margin-left: 2vw;
    width: 10.75rem;
    height: 2.375rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid #717171;
    background: #232323;
    color: #b4b4b4;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.2s ease-in;
  }

  .a-button:hover {
    border: 2px solid #232323;
    background: #444444;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
}

.a-empty_projects {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .a-svg {
    margin-top: 10vh;
  }

  .a-empty_text {
    width: 40%;
    margin-top: 3rem;
    color: #8d8d8d;
    text-align: center;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.a-main_content {
  width: 100vw;

  .a-project_list {
    display: flex;
    flex-wrap: wrap;

    .a-project_child {
      flex: 0 0 calc(50% - 10px); /* Ajoute du padding entre les éléments si nécessaire */
      box-sizing: border-box;
      background-color: red;
      margin: 5px; /* Ajoute une marge entre les éléments si nécessaire */
    }
  }
}


